header
  h1 Tournament App
  if user
    .user-links
        button(onclick="window.location.href='/'") Početna stranica
        button(onclick="window.location.href='/profile'") Profil
        button(onclick="window.location.href='/logout'") Odjava
